body{
	background-color: #efefef;
	background-image: url(images/gray_bg.png);
	font-family: Arial;
	color: #6e6f73;
}


.block{
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #AAA;
	margin-bottom: 30px;
	padding: 10px;
	background-image: url(images/white_bg.png);
}

.blockTitle{
	text-align: right;
	font-size: 20px;
	color: #e85301;
	margin-bottom: 10px;
	text-transform: lowercase;
}

.blockDesc{
	text-align: right;
	margin-left: auto;
	margin-right: 0px;
	width: 65%;
	color: #a9abaf;
	font-size: 13px;
	margin-bottom: 10px;
}

.blockInner,
.blockInner table{
	font-family: 'Volkhov', serif;
	font-style: italic;
	font-size: 14px;
}


/* Header Stuff */

#header_left .subtext{
	font-family: 'Volkhov', serif;
	font-style: italic;
	font-size: 20px;
	color: #636569;
	margin-left: 150px;
	margin-top: -25px;
}

#header_right #results{
	background-image: url(images/white_bg.png);
	width: 275px;
	height: 85px;
	margin-left: auto;
	margin-right: 0px;
	box-shadow: 0px 0px 5px #AAA;
	border-radius: 5px;
	margin-top: -15px;
	margin-bottom: 30px;
}


#results #results_url{
	background-color: #d8dadc;
	font-size: 14px;
	height: 13px; 
	overflow: hidden;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	color: #636569;
	text-align: center;
}

#results #results_grade{
	width: 50%;
	float: left;
	border-right: 1px solid #d8dadc;
}

#results #results_score{
	width: 50%;
	float: left;
}

#results .label{
	color: #a9abaf;
	padding: 5px;
}

#results .value{
	font-size: 12px;
	color: #f15a24;
	text-align: center;
	font-family: 'Volkhov', serif;
	font-style: italic;
	padding-right: 10px;
}

.block table.lineitem:nth-child(odd){
	background-color: #f3f3f3;
}

.blockInner{
	margin-left: -10px;
	margin-right: -10px;
}

.blockInner table.lineitem{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.blockInner .lineitem .status{
	width: 30px;
}

.blockInner .lineitem img{
	vertical-align: middle;
}

.blockInner .lineitem .value{
	text-align: right;
}

.blockInner .lineitem .tooltip{
	margin-left: 5px;
}

#footer{
	text-align: center;
	font-family: 'Volkhov', serif;
	font-style: italic;
	font-size: 12px;
	margin-bottom: 10px;
}

a:hover{
	text-decoration:none;
}

a.tooltip{
	cursor: default;
}

a.tooltip span {
	display:none;
	max-width: 600px;
	background: rgba(0, 0, 0, 0.85);
	padding: 3px 7px;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	margin-left: 7px;
	margin-top: -3px;

}

a.tooltip:hover span{
	display:inline;
	position:absolute;
}

.links{
	float: right;
	width: 300px;
	text-align: right;
	margin-right: 15px;
	margin-top: -15px;
	margin-bottom: 13px;
}

.links div{
	display: inline;
	padding-left: 20px;
}

.links a{
	color: #9b9c9e;
	font-family: 'Volkhov', serif;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
}

.links img{
	padding-left: 8px;
	vertical-align: bottom;
}

/* Overlay */

#email_form{
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: Arial;
	font-size: 12px;
	background-color: #FFF;
	position: relative;
	top: 40%;
}

#email_form .left{
	width: 48%;
	float: left;
	border-right: 1px solid #CCC;
	padding: 5px;
}

#email_form .right{
	width: 48%;
	float: right;
	padding: 5px;
}

#email_form form input,
#email_form form textarea{
	display: block;
	clear: left;
	width: 90%;
}

#email_form form label{
	padding-top: 5px;
	display: block;
	width: 90%;
	clear: left;
}

.overlay_close{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: 1px solid #888;
	background-color: white;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-right: -15px;
	margin-top: -15px;
	float: right;
	cursor: pointer;
}

#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(images/overlay.png) repeat 0 0;
}

.textlabel{
	margin-top: 25px;
	margin-left: 15px;
	color: #A9ABAF;
}

.textlabel .orange{
	margin-right: 10px;
	color: #E85301;
}

.table_generic{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-collapse: collapse;
}

.table_generic thead{
	color: #E85301;
}

.table_generic td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.table_generic tbody tr:nth-child(odd) {
	background-color: #F3F3F3;
}

.table_subblock{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-collapse: collapse;
}

.table_subblock td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.table_subblock .label{
	background-color: #dedede;
	border-bottom: 1px inset #CCC;
}

.table_subblock tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}

.w3c_logo{
	padding-left: 10px;
	vertical-align: sub;
}
